
.upload-btn {
  margin-top: 20px;
  margin-left: 60px;
  padding: 10px 0;
  border-radius: 5px;
  border: none;
  text-align: center;
  outline: none;
  width: 370px;
  background-color: rgba(158, 158, 158, 0.51);
  display: block;
  height: 50px;
  line-height: 30px;
}

.input-files {
  display: none;
}

.upload-btn:hover {
  background-color: rgba(131, 131, 131, 0.79);
  color: white;
  cursor: pointer;
}
